<div data-th-fragment="user-navbar">
  <nav
    
    class="bg-white border-gray-200 dark:bg-gray-900"
  >
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
    >
      <button
        data-drawer-target="sidebar"
        data-drawer-toggle="sidebar"
        aria-controls="sidebar"
        type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Open sidebar</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>
      <a src="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img
          src="/images/Navbar_Contact_Image.png"
          class="h-8"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >SCM 2.O</span
        >
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        <button id="themeButton">
          <a type="button" class="text-white bg-gray-700 px-2 py-2 rounded">
            <i class="fa-solid fa-circle-half-stroke"> </i>
            <span>Light</span>
          </a>
        </button>
        <a
          data-th-href="@{'/user/profile'}"
          type="button"
          class="text-white bg-green-800 px-4 py-2 rounded"
          ><span data-th-text="${loggedInUser.name}"></span
        ></a>
        <a href="/logout" type="button" class="bg-red-800 px-4 py-2 rounded"
          >Logout</a
        >
      </div>
    </div>
  </nav>
  <nav th:fragment="navbar" class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center justify-center">
        <ul
          class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
        >
          <li>
            <a
              data-th-href="@{/home}"
              class="text-gray-900 dark:text-white hover:underline"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              data-th-href="@{/about}"
              class="text-gray-900 dark:text-white hover:underline"
              >About</a
            >
          </li>
          <li>
            <a
              data-th-href="@{/services}"
              class="text-gray-900 dark:text-white hover:underline"
              >Services</a
            >
          </li>
          <li>
            <a
              data-th-href="@{/contact}"
              class="text-gray-900 dark:text-white hover:underline"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
