<nav th:fragment="navbar" class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
  >
    <a src="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="/images/Navbar_Contact_Image.png"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >SCM 2.O</span
      >
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <button id="themeButton">
        <a type="button" class="text-white bg-gray-700 px-2 py-2 rounded">
          <i class="fa-solid fa-circle-half-stroke"> </i>
          <span>Light</span>
        </a>
      </button>
      <a
        data-th-href="@{/signup}"
        type="button"
        class="text-white bg-blue-800 px-4 py-2 rounded"
        >Sign Up</a
      >
      <a href="/login" type="button" class="bg-blue-800 px-4 py-2 rounded"
        >Login</a
      >
    </div>
  </div>
</nav>
<nav th:fragment="navbar" class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center justify-center">
      <ul
        class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
      >
        <li>
          <a
            data-th-href="@{/home}"
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            data-th-href="@{/about}"
            class="text-gray-900 dark:text-white hover:underline"
            >About</a
          >
        </li>
        <li>
          <a
            data-th-href="@{/services}"
            class="text-gray-900 dark:text-white hover:underline"
            >Services</a
          >
        </li>
        <li>
          <a
            data-th-href="@{/contact}"
            class="text-gray-900 dark:text-white hover:underline"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
