<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="my-card mt-3">
                        <h1 class="text-center">Register Here</h1>
                        <form action="" th:action="@{/do_register}" method="post" >
                            <!-- name -->
                            <div class="form-group">
                                <label for="name_field">Your Name</label>
                                <input type="text" class="form-control" id="name_field" placeholder="Enter name here ..." required="required">
                            </div>

                            <!-- email -->

                            <div class="form-group">
                                <label for="email_field">Your email address</label>
                                <input type="email" class="form-control" id="email_field" placeholder="name@example.com" required="required">
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <label for="password_field">Your Password</label>
                                <input type="password" class="form-control" id="password_field" placeholder="Enter password here ..." required="required">
                            </div>

                            <!-- about -->
                            <div class="form-group">
                                <label for="about_field">About</label>
                                <textarea class="form-control" id="about_field" rows="7" placeholder="Enter something yourself"></textarea>
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary text-white">Submit</button>
                                <button type="reset" class="btn bg-warning">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>